[TYPECHECK]
ignored-classes=Namespace

[FORMAT]
max-line-length=120

[MESSAGES]
disable=invalid-name, 
    too-few-public-methods, too-many-arguments, too-many-nested-blocks, too-many-instance-attributes, 
    too-many-locals, too-many-boolean-expressions, 
    duplicate-code
